@page "/task/{id:int}"
@using ClientEntity
@using ClientEnum
@inject DataService data

<div>
    @if(!loadingStatus){
        <h1>Loading...</h1>
    }
    else{
        <Fields>
        <Field>
            <FieldLabel>
                <Heading Size="HeadingSize.Is2">Main Task</Heading>
            </FieldLabel>
            <TaskItem curentTask="@mainTask"/>
        </Field>
        <Field>
            <FieldLabel>
                <Heading Size="HeadingSize.Is2">Bonus Task</Heading>
            </FieldLabel>
            @if(bonusTask != null){
                <TaskItem curentTask="@bonusTask"/>
            }
            else{
                <Button Color="Color.Success" Clicked="@onAddBTTaskClcik">Add bonus task</Button>
            }
        </Field>
    </Fields>
    }
</div>

@if(modalShow){
    <TaskCreateModal @bind-modalVisible="modalShow" id_competition="0" isBonusTask="ETask.Bonus" mainId="@mainTask.id" />
}


@code{
    [Parameter]
    public int id { get; set; }
    MTask mainTask = new MTask();
    MTask bonusTask = new MTask();
    public bool loadingStatus = false;
    public bool modalShow = false;
    

    @*----------------Downloading main task, bonus task and connection beetwen them----------------*@
    protected override async Task OnInitializedAsync()
    {
        bonusTask = null;
        mainTask = null;

        var mainTasks = await data.GetTaskById(id);
        var connectionMainAndBonusTasks = await data.GetBonusTaskByMainId(id);
        if(connectionMainAndBonusTasks.Count != 0){
            var bonusTasks = await data.GetTaskById(connectionMainAndBonusTasks[0].id_bonus_task);
            await CreateOneTask(mainTasks, bonusTasks);
        }
        else{
            await CreateOneTask(mainTasks);
        }
        await ChangeLoadStatus();
    }

    @*----------------Choosing the first element in lists of main and bonus tasks----------------*@
    private async Task CreateOneTask(List<MTask> _mainTasks, List<MTask> _bonusTasks){
        mainTask = _mainTasks[0];
        bonusTask = _bonusTasks[0];
    } 

    private async Task CreateOneTask(List<MTask> _mainTasks){
        mainTask = _mainTasks[0];
    } 

    @*----------------Change load status when loading data ends----------------*@
    private async Task ChangeLoadStatus(){
        loadingStatus = true;
    } 

    private void onAddBTTaskClcik(){
        modalShow = true;
    }
}