@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
@attribute [Authorize]



<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@



    <main>

        <AuthorizeView Roles="user">
            <Authorized>
             <div class="top-row px-4">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CompetitionList">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Competitions
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="List/1/1">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>Choose Tasks
                    </NavLink>
                </div>
                <div class="top-row px-4">
                    <AccessControl />
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
             </div>
             </Authorized>            
        </AuthorizeView>
        
        <AuthorizeView Roles="competitionAdmin">
            <Authorized>
            <div class="top-row px-4">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CompetitionList">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Competitions
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CategoryList" @onclick="HandleClick">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="taskList">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Tasks
                    </NavLink>
                </div>
                <div class="top-row px-4">
                    <AccessControl />
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
            </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="admin">
            <Authorized>
            <div class="top-row px-4">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CompetitionList">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Competitions
                    </NavLink>
                </div>
                <div class="top-row px-4">
                    <AccessControl />
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
            </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <NotAuthorized>
                <div class="top-row px-4">
                    <div class="nav-item px-3">
                        <AccessControl />
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
@*         
        var accessTokenResult = await TokenProvider.RequestAccessToken();
        var AccessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            AccessToken = token.Value;
            System.Console.WriteLine("My token:");
            System.Console.WriteLine(AccessToken);
        } *@
    }
    private void HandleClick()
    {
        NavigationManager.NavigateTo("CategoryList", true);
    }
}
